@import "styles/common/_constants.scss";

.position-relative {
  position: relative;
}
.absolute-center {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-55%, -50%);
}
.iphone-img {
  height: 619px;
  margin-top: 5rem;
}
.color-skyblue {
  background: $skyblue;
}
